<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV.Properties.Settings.QLSV" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-RU5LL1M\MAYA0;Integrated Security=SSPI;Initial Catalog=QL_DIEM_SV"
            providerName="System.Data.OleDb" />
        <add name="QLDSV.Properties.Settings.QL_DIEM_SVConnectionString"
            connectionString="Data Source=DESKTOP-0I1V82C\GIANG;Initial Catalog=QL_DIEM_SV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-RU5LL1M\MAYA0;Integrated Security=SSPI;Initial Catalog=TEST_BTL"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>